{% extends 'base.html' %}

{% block title %}
Delete
{% endblock %}

{% block content %}
        <div class="container">
            <form method="POST">
                <label for="habit">Choose a habit to delete:</label>
                <select name="habit_id_to_delete" id="habit" class="form-select mb-4">
                    {% for habit in all_habits %}
                    <option value="{{ habit.id }}">{{ habit.habit_name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-danger" type="submit">Delete</button>
                <a href="/" class="btn btn-primary">Main Menu</a>
            </form>
        </div>
    {% if habit_to_delete %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% endif %}

    {% if error %}
        <div class="container">
            <p class="text-danger">{{ error }}</p>
        </div>
    {% endif %}

{% endblock %}