{% extends 'base.html' %}

{% block title %}
    Log a habit
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">
            <label for="habit">Choose a habit: </label>
            <select name="habit_id_to_log" id="habit" class="form-select mb-4">
                {% for habit in habits %}
                    <option value="{{ habit.id }}"> {{ habit.habit_name | capitalize }} </option>
                {% endfor%}
            </select>

        <button class="btn btn-success" type="submit">Submit</button>
        <a href="/" class="btn btn-primary">Main Menu</a>
        </form>
    </div>
    {% if error_flag %}
        <div class="container">
            <h2> {{ error_flag }} </h2>
        </div>
    {% endif %}
    {% if habit_logged %}
        <div class="container">
            <p> You logged {{ habit_logged.habit_name | capitalize }} today!</p>
            <p> {{ habit_logged.habit_name | capitalize }} Log:</p>
            <ul>
                {% for log in habit_logs %}
                <li>{{ log.date_logged }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}