{% extends 'base.html' %}

{% block title %}
View Habit List
{% endblock %}

<div class="container">
    {% block content %}
        <div class="container">
            <h4>Habits Currently Tracked:</h4>
            {% for habit in habits %}
            <div class="container">
                - {{ habit.habit_name }}
            </div>
            {% endfor %}
        </div>
        <div class="container">
            <a href="/new" class="btn btn-success mt-5">Add a habit</a>
            <a href="/delete" class="btn btn-danger mt-5">Remove a habit</a>
            <a href="/" class="btn btn-primary mt-5">Main Menu</a>

        </div>
    {% endblock %}
</div>
